PORT=1337

HOST=0.0.0.0
CLIENT_URL="http://localhost:3000"
SERVER_URL="http://localhost:1337"

CLIENT_URL="link"

CLOUDINARY_KEY="key"
CLOUDINARY_NAME="name"
CLOUDINARY_SECRET="secret"

DATABASE_HOST="db-host"
DATABASE_NAME="db-name"
DATABASE_PASSWORD="pass"
DATABASE_URI="db-uri"
DATABASE_USERNAME="username"

STRIPE_SK="secret"
